    /* * {
        border: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 90vh;
        font-size: 14px;
        background: #ebebeb;
        font-family: 'Montserrat', sans-serif;
    } */

    .hero-section {
        align-items: center;
        display: flex;
        min-height: 90vh;
        justify-content: center;
    }

    .card-grid {
        display: inline-flex;
        grid-column-gap: 40px;
    }

    .card {
        position: relative;
        margin-top: -25vh;
        width: 300px;
        height: 450px;
        transition: .8s ease-out;
        border-radius: 20px;
        background-image: linear-gradient(to right, #24243e, #302b63, #0f0c29);
        ;
    }

    .card:hover {
        box-shadow: 2px 30px 30px rgba(0, 0, 0, 0.5);
    }

    .card__background {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        border-radius: 24px;
        transform-origin: center;
        transform: scale(1) translateZ(0);
        transition: filter 200ms linear, transform 200ms linear;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
    }

    .card__content {
        position: absolute;
        left: 0;
        top: 0;
        padding: 24px;
    }

    .card__heading {
        color: #fff;
        font-size: 1.9rem;
        line-height: 1.4;
        width: 100%;
        font-weight: normal;
    }

    .card__category {
        position: absolute;
        left: 35%;
        top: 14em;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .card:hover .card__background {
        transform: scale(1.05) translateZ(0);
    }

    .card-grid:hover>.card:not(:hover),
    .card__content:not(:hover) .card__background {
        filter: brightness(0.8) saturate(1) contrast(1.2) blur(10px);
    }

    .mrg {
        margin-top: -20vh;
    }